
<div class="container">
    <div class="card-key">
      <img class="card-img-top" src="/assets/img/taps.jpg" weight=400px height=250px alt="taps">
      <div class="card-body">
        <h5 class="card-title">Beers On Tap</h5>
        <p>Color Key:<span class="text-success">[IPA] </span><span class="text-primary">[Sour] </span><span class="text-danger">[Lager] </span><span class="text-info">[Porter] </span><span class="text-warning">[*SALE*] </span><span class="text-dark">[Sorry, we're out!]</span><br>
          <br>
          <select (change)="onAlcoholContentChange($event.target.value)">
            <option value="allKegs" selected="selected">All Alcohol Content</option>
            <option value="highAlcoholContent">High (> 7.0) Alcohol Content</option>
            <option value="midAlcoholContent">Mid (4.0 - 6.9) Alcohol Content</option>
            <option value="lowAlcoholContent">Low (< 4.0) Alcohol Content</option>
          </select>
          <select (change)="onStyleChange($event.target.value)">
            <option value="allKegs" selected="selected">All Styles</option>
            <option value="ipa">IPAs</option>
            <option value="porter">Porters</option>
            <option value="sour">Sours</option>
            <option value="lager">Lagers</option>
          </select><br>
          <ul>
            <li [class]="styleColor(currentKeg)" *ngFor="let currentKeg of childKegList | alcoholcontent:filterByAlcoholContent | style:filterByStyle">{{currentKeg.brand}}: {{currentKeg.name}} <span class="avb">AVB:{{currentKeg.alcoholContent}}%</span> <span class="price">${{currentKeg.price}}</span>
            </li>
          </ul>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title-employee">Employee Functions</h5>
    <ul class="employeeList">
      <li [class]="styleColor(currentKeg)" *ngFor="let currentKeg of childKegList">
        <span class="keg-name">{{currentKeg.name}}</span><span class="keg-taps"> Remaining Taps: {{currentKeg.remainingPints}}/124</span>
        <div class="buttons">
          <button (click)="sellButtonClicked(currentKeg)">Sell Pint</button>
          <button (click)="sellGrowlerClicked(currentKeg)">Sell Growler (Regular)</button>
          <button (click)="sellLargeGrowlerClicked(currentKeg)">Sell Growler (Large)</button>
          <button (click)="replaceButtonClicked(currentKeg)">Replace Keg</button>
          <button (click)="editButtonClicked(currentKeg)">Edit Keg Info</button>
          <button (click)="saleButtonClicked(currentKeg)">Apply/Remove Discount</button>
        </div>
      </li>
    </ul>
    <button (click)="happyHourStartButtonClicked()">Start Happy Hour :)</button>
    <button (click)="happyHourEndButtonClicked()">End Happy Hour :(</button>
    <br>
    <div class="replace">
      <br>
      <h6>The following will need to be replaced soon!</h6>
      <ul>
        <li [class]="styleColor(currentKeg)" *ngFor="let currentKeg of childKegList | remainingpints:filterByRemainingPints">{{currentKeg.name}} {{currentKeg.remainingPints}}/124
        </li>
      </ul>
    </div>
  </div>
</div>
