

.card-title-employee {
  color: black;
}

.card-key {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
}

.card {
  background-color: SlateGray;
}


p {
  color: gray;
}

h5 {
  color: gray;
}

img {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  margin-bottom: 5px;
}

.price {
  float: right;
  padding-right: 5px;
}

.avb {
  font-style: italic;
  font-size: x-small;
}

.keg-taps {
  float: right;
  padding-right: 5px;
}

.buttons {
  padding-top: 5px;
}